<!-- footer_section - start
      ================================================== -->
<footer class="footer_section footer_style_1 section_space pt-0">
	<div class="container">
		<div class="footer_widget_area section_space">
			<div class="row">
				<div class="col col-lg-4 col-md-4 col-sm-6">
					<div class="brand_logo wow fadeInRight" data-wow-delay=".1s">
						<a class="brand_link" href="{{ / }}">
							<img src="{{ site.data.settings.logo_1 | relative_url }}" alt="Orbit Cloud" width="140">
						</a>
					</div>
					<ul class="footer_info_list ul_li_block">
						<li>Microsoft Partner</li>
						<li>– Cloud Solution Provider</li>
						<li>AWS certified</li>
					</ul>
				</div>
				<div class="col col-lg-4 col-md-4 col-sm-6">
					<div class="footer_widget wow fadeInRight" data-wow-delay=".2s">
						<h3 class="footer_widget_title">Mission Control</h3>
						<ul class="footer_info_list ul_li_block">
							<li>Hlidasmari 12</li>
							<li>200 Kopavogur</li>
							<li>Iceland</li>
						</ul>
					</div>
				</div>
				<div class="col col-lg-4 col-md-4 col-sm-6">
					<div class="footer_widget wow fadeInRight" data-wow-delay=".3s">
						<h3 class="footer_widget_title">Say Hello</h3>
						<ul class="footer_info_list ul_li_block">
							<li><a href="#!">{{ site.data.settings.contact_settings.email }}</a></li>
							<li><a href="#!">{{ site.data.settings.contact_settings.phone_number }}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer_section - end
      ================================================== -->