<!-- contact_section - start
        ================================================== -->
<section class="contact_section section_space">
	<div class="container">
		<div class="section_title_2 wow fadeInUp2" data-wow-delay=".1s">
			<h2 class="title_text mb-0">
				<span class="d-md-block"> {{ page.contact.title }}</span> {{ page.contact.title_2 }}
			</h2>
		</div>
		<div class="row">
			<div class="col col-lg-10">
				<div class="contact_form">
					<form action="https://formsubmit.co/a115779b53698c34f52b9cc9fb6de2ca" method="POST">
						<div class="row">
							<div class="col col-lg-6">
								<div class="form_item wow fadeInUp2" data-wow-delay=".2s">
									<input type="text" name="name" placeholder="Your Name">
								</div>
							</div>
							<div class="col col-lg-6">
								<div class="form_item wow fadeInUp2" data-wow-delay=".3s">
									<input type="email" name="email" placeholder="Email or Phone Number">
								</div>
							</div>
						</div>
						<div class="form_item wow fadeInUp2" data-wow-delay=".4s">
							<textarea name="description" placeholder="What's on your mind? (Optional)"></textarea>
						</div>
						<button type="submit" class="btn btn_primary wow fadeInUp2" data-wow-delay=".5s">CONTACT ME PLEASE</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- contact_section - end
        ================================================== -->