<!-- header_section - start
      ================================================== -->
<header class="header_section header_style_1">
	<div class="brand_logo">
		<a class="brand_link" href="{{ site.baseurl }}/">
			<img src="{{ site.data.settings.logo_1 | relative_url }}" alt="Orbit Cloud" width="140">
			<img src="{{ site.data.settings.logo_2 | relative_url }}" alt="Orbit Cloud" width="140">
		</a>
	</div>
</header>
<!-- header_section - end
      ================================================== -->